{% extends "blog/base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<h2>Edit Profile</h2>
<form method="post" novalidate>
  {% csrf_token %}
  <fieldset>
    <legend>Account</legend>
    {{ u_form.non_field_errors }}
    <div>
      <label>First name</label>
      {{ u_form.first_name }} {{ u_form.first_name.errors }}
    </div>
    <div>
      <label>Last name</label>
      {{ u_form.last_name }} {{ u_form.last_name.errors }}
    </div>
    <div>
      <label>Email</label>
      {{ u_form.email }} {{ u_form.email.errors }}
    </div>
  </fieldset>

  <fieldset>
    <legend>Profile</legend>
    {{ p_form.non_field_errors }}
    <div>
      <label>Bio</label>
      {{ p_form.bio }} {{ p_form.bio.errors }}
    </div>
  </fieldset>

  <button type="submit">Save changes</button>
</form>
{% endblock %}
