{% extends "blog/base.html" %}
{% block title %}All Posts{% endblock %}

{% block content %}
  <h2>Latest posts</h2>

  {% if active_tag %}
    <p>Filtering by tag: <strong>#{{ active_tag.name }}</strong></p>
  {% endif %}

  {% if user.is_authenticated %}
    <p><a href="{% url 'blog:post_create' %}">➕ New post</a></p>
  {% endif %}

  {% if posts %}
    <ul class="post-list">
      {% for post in posts %}
        <li>
          <h3><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h3>
          <p class="meta">by {{ post.author }} • {{ post.published_date|date:"Y-m-d H:i" }}</p>
          <p>{{ post.content|truncatewords:40 }}</p>

          {# NEW: show tags #}
          {% if post.tags.all %}
             <p class="meta">
              {% for tag in post.tags.all %}
               <a href="{% url 'blog:post_by_tag' tag.slug %}" class="tag">#{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
{% endblock %}
