{% extends "blog/base.html" %}

{% block title %}Home • My Blog{% endblock %}

{% block content %}
  <h2>Latest Posts</h2>
  {% if posts %}
    <ul class="post-list">
      {% for post in posts %}
        <li>
          <h3>{{ post.title }}</h3>
          <p class="meta">
            by {{ post.author }} • {{ post.published_date|date:"Y-m-d H:i" }}
          </p>
          <p>{{ post.content|truncatechars:200 }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
{% endblock %}
